<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075012183569-m2h35m6pnrsnimt22f6pg4170e7h7lmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075012183569-m2h35m6pnrsnimt22f6pg4170e7h7lmp</string>
	<key>API_KEY</key>
	<string>AIzaSyClngrwBna1yC1H2qGvC26B-kJ2U1A9gYg</string>
	<key>GCM_SENDER_ID</key>
	<string>1075012183569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plasticBounty</string>
	<key>PROJECT_ID</key>
	<string>plastic-bounty</string>
	<key>STORAGE_BUCKET</key>
	<string>plastic-bounty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075012183569:ios:b2ca6e0729d6cdc58073b0</string>
</dict>
</plist>